{% extends 'base/base.html' %}

{% block title %}
    Fogot Password?
{% endblock title %}

{% block content %}
    <section class="login_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Fogot Password?</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="error_message_area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="error_msg"> 
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login_register_area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="login_form_area mb_60">
                        <div class="form_title">
                            <h2>Lost Password?</h2>
                            <p>To recover your password, please enter your email address.</p>
                        </div>
                        <div class="form_field_area">
                            <form action="" method="POST"> {% csrf_token %}
                                <div class="full_field row">
                                    <div class="single_form_field col-md-5 col-sm-12">
                                        <p>Your Email</p>
                                        <input type="email" name="email" required>
                                    </div> 
                                </div>
                                <div class="submit_button">
                                    <input type="submit" value="Send">
                                    
                                    <p>Back to <a href="{% url 'core:login' %}">Login</a></p> 
                                </div>
                            </form>
                        </div>
                    </div> 


                </div>
            </div>
        </div>
    </section>
{% endblock content %}

 