/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.column {width:750px}


.indivi_gallery_title h3 {
	font-size: 22px;
}
.indivi_back_home a {
	font-size: 16px;
	padding-top: 1px;
}
.single_judge {
	float: left;
	width: 33.33%;
}
.indvi_gallery_info {
	padding: 140px 60px 150px;
}
.indvi_gallery_info h2 {
	font-size: 32px;
	margin-bottom: 15px;
}
.indvi_gallery_info p {
	font-size: 24px;
	padding-bottom: 20px;
}
.indvi_gallery_info h4 {
	font-size: 24px;
}
.judge_img {
    float: left;
    width: 100%;
    text-align: center;
}
.judge_img img {
	width: 70%;
}
.judge_info {
	width: 100%;
    padding-left: 0;
    text-align: center;
}
.judge_info h3 {
    padding-top: 5px;
    font-size: 16px;
}
.judge_info p {
	font-size: 16px;
}
.judge_info a {
	font-size: 16px;
}
.winner_list_title h3 {
	font-size: 25px;
}
.winner_info h3, .winner_info h4 {
	font-size: 17px;
}
.winner_info p {
	font-size: 17px;
}
.similar_contest_title h3 {
	font-size: 25px;
}
.contest_name h3 {
	font-size: 17px;
}
.contest_date h4 {
	font-size: 16px;
}
.contest_date p {
	font-size: 16px;
}
.contest_judges h4 {
	font-size: 16px;
}
.single_winner {
	padding-bottom: 30px;
}
.similar_contest_gallery {
	padding-bottom: 60px;
}


/* judge_list.html */
.our_judge_title h2 {
	font-size: 22px;
}
.judge_list_cont {
	padding-top: 25px;
}
.judge_list_cont p {
	font-size: 18px;
}
.winner_info.judge_prof p {
	font-size: 16px;
}
.our_judge_list_area {
	padding-bottom: 40px;
}
.our_single_judge {
	padding-bottom: 30px;
}
.judge_personal_info p {
	font-size: 16px;
}
.about_judge {
	padding-bottom: 12px;
	margin-bottom: 12px;
}
.gallery_breadcrumb h2 {
	font-size: 48px;
}
.gallery_breadcrumb h4 {
	padding-top: 20px;
	font-size: 30px;
}
.gallery_breadcrumb_area {
	padding: 75px 0;
}
.photo_gallery_left h3 {
	font-size: 28px;
}
.upcoming_cont img, .ongoing_cont img {
	width: 80%;
}
.priv_photo_gallery_area.photo_contest_area {
	padding-bottom: 40px;
}
.slider_content {
	padding-top: 100px;
}
.home_single_slide h1 {
	font-size: 60px;
}
.home_single_slide h3 {
	font-size: 25px;
	padding-bottom: 5px;
}
.home_single_slide p {
	font-size: 25px;
}
.welcome_phoconse_cont a, .feature_gallery_btn a, .latest_article_btn a {
	font-size: 20px;
	padding: 9px 45px;
}
.welcome_to_phoconse {
	padding: 45px 10% 60px;
}
.welcome_phoconse_cont h2, .feature_gallery_title h2, .latest_article_title h2 {
	font-size: 25px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.welcome_phoconse_cont p {
	font-size: 20px;
}
.feature_gallery_area {
	padding: 40px 0;
}
.feature_single_title h3 {
	font-size: 20px;
	padding: 18px 0;
}
.latest_article_area {
	padding: 40px 0;
}
.article_single_item .winner_info {
	min-height: 120px;
}
.article_single_item a {
	font-size: 16px;
}
.feature_single_item {
	margin-bottom: 30px;
}
.blog_breadcrumb {
	padding: 15px 0;
}
.blog_breadcrumb_title h2 {
	font-size: 22px;
}
.blog_header_content p {
	font-size: 18px;
}
.blog_header_content h2 {
	font-size: 28px;
}
.facebook a, .twitter a, .pinterest a, .google a, .linkedin a {
	margin-bottom: 15px;
}
.single_blog_sidebar {
	padding: 30px 0 20px;
}
.blog_sidebar_cont h2 {
	font-size: 30px;
}
.blog_sidebar_cont p {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.single_blog_sidebar .latest_article_btn a {
	font-size: 16px;
	padding: 8px 24px;
}
.contest_info h4 {
	font-size: 18px;
}
.contest_info p {
	padding-bottom: 18px;
	font-size: 16px;
}
.prize_info ul li {
	font-size: 16px;
}
.copyright_info p {
	padding-bottom: 8px;
}
.contest_detail_info_area {
	padding-bottom: 45px;
}
.about_us_content {
	padding: 40px 0 10px;
}
.about_content p {
	padding-bottom: 20px;
	font-size: 17px;
}
.update_profile_top ul li a {
	font-size: 16px;
}
.update_profile_btm {
	padding: 25px 20px 30px;
}
.entet_info h3, .entet_info p {
	font-size: 20px;
}
.update_profile_btm label, .update_profile_btm input {
	font-size: 16px;
}
.save_btn input {
	padding: 12px 48px;
	font-size: 18px;
}












}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.column {width:300px}

.indivi_gallery_title {
	text-align: center;
}
.indivi_gallery_title h3 {
	font-size: 20px;
}
.indvi_gallery_info_area {
	padding-top: 10px;
}
.indvi_gallery_info {
	padding: 60px 5px 70px;
}
.indvi_gallery_info h2 {
	font-size: 22px;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
.indvi_gallery_info p {
	font-size: 18px;
	padding-bottom: 15px;
}
.indvi_gallery_info h4 {
	font-size: 18px;
}
.judge_area h2 {
	font-size: 20px;
	padding-bottom: 8px;
}
.judge_info h3 {
	font-size: 16px;
}
.judge_info p {
	font-size: 16px;
}
.judge_info a {
	font-size: 16px;
}
.judge_area {
	padding: 15px 15px 30px;
}
.winner_list_title h3 {
	font-size: 22px;
}
.winner_info h3, .winner_info h4 {
	font-size: 16px;
	padding-bottom: 3px;
}
.winner_info p {
	font-size: 16px;
}
.indivi_back_home {
	text-align: center;
}
.indivi_back_home a {
	font-size: 16px;
}
.similar_contest_title h3 {
	font-size: 20px;
}
.similar_contest_gallery .owl-prev {
	display: none;
}
.similar_contest_gallery .owl-next {
	display: none;
}
.contest_name h3 {
	font-size: 17px;
}
.contest_date h4 {
	font-size: 16px;
}
.contest_date p {
	font-size: 16px;
}
.contest_judges h4 {
	font-size: 16px;
}
.contest_judges ul li a {
	font-size: 16px;
}
.similar_contest_gallery {
	padding-bottom: 30px;
}
.single_winner {
	padding-bottom: 20px;
}
.winner_list_title {
	padding-top: 10px;
}
.similar_contest_title {
	padding-top: 10px;
}
.single_winner .card-body {
	padding: 15px;
}
.single_similar_slide .card-body {
	padding: 15px;
}


/* judge_list.html */
.our_judge_title h2 {
	font-size: 18px;
}
.our_judge_area {
	padding: 10px 0;
}
.judge_list_cont p {
	font-size: 16px;
	text-align: center;
}
.judge_list_cont {
	padding-top: 20px;
}
.our_single_judge .card-body {
	padding: 10px;
}
.our_single_judge {
	padding-bottom: 20px;
}
.our_judge_list_area {
	padding-bottom: 20px;
}

.about_judge {
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.about_judge h2 {
	font-size: 18px;
}
.judge_personal_info p {
	font-size: 16px;
}
.judge_details_area {
	padding-top: 20px;
	padding-bottom: 20px;
}
.gallery_breadcrumb_area {
	padding: 30px 0;
}
.gallery_breadcrumb h2 {
	font-size: 35px;
}
.gallery_breadcrumb h2::after {
	width: 90px;
	height: 2px;
	margin-left: -45px;
	margin-top: 5px;
}
.gallery_breadcrumb h4 {
	padding-top: 20px;
	font-size: 24px;
}
.photo_gallery_left {
	width: 100%;
}
.photo_gallery_left h3 {
	font-size: 24px;
}
.priv_photo_gallery {
	padding-top: 20px;
	padding-bottom: 10px;
}
.priv_photo_gallery_area.photo_contest_area {
	padding-bottom: 20px;
}


.slider_content {
	padding-top: 5px;
}
.home_single_slide h1 {
	font-size: 35px;
}
.home_single_slide h3 {
	font-size: 22px;
	padding-bottom: 0px;
}
.home_single_slide p {
	font-size: 20px;
	padding-bottom: 5px;
}
.welcome_to_phoconse {
	padding: 30px 2% 40px;
}
.welcome_phoconse_cont p {
	font-size: 16px;
	padding-bottom: 15px;
}
.welcome_phoconse_cont a, .feature_gallery_btn a, .latest_article_btn a {
	font-size: 16px;
	padding: 8px 36px;
}
.feature_gallery_area {
	padding: 20px 0;
}
.welcome_phoconse_cont h2, .feature_gallery_title h2, .latest_article_title h2 {
	font-size: 22px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.feature_single_title h3 {
	font-size: 18px;
	padding: 12px 0;
}
.feature_single_item {
	margin-bottom: 20px;
}
.latest_article_area {
	padding: 20px 0;
}
.article_single_item .winner_info {
	min-height: 70px;
}
.article_single_item a {
	font-size: 16px;
}
.home_slider_area .owl-dots {
	display: none;
}
.home_single_slide img {
	height: 190px;
}
.priv_photo_gallery_area.blog_list {
	padding-top: 30px;
}
.blog_breadcrumb {
	padding: 12px 0;
}
.blog_breadcrumb_title h2 {
	font-size: 20px;
}
.single_blog_area {
	padding-top: 20px;
}
.blog_header_content img {
	padding-bottom: 5px;
}
.blog_header_content p {
	font-size: 16px;
}
.blog_header_content h2 {
	font-size: 20px;
}
.blog_header_content {
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.blog_content img {
	width: 100%;
}
.blog_content h4 {
	padding: 10px 0;
}
.blog_content p {
	padding-bottom: 10px;
}
.facebook a, .twitter a, .pinterest a, .google a, .linkedin a {
	margin-bottom: 10px;
}
.blog_tags ul li a {
	font-size: 16px;
}
.blog_tags h3 {
	font-size: 16px;
	padding-bottom: 3px;
}
.blog_tags {
	padding-bottom: 25px;
}
.single_blog_sidebar {
	padding: 20px 0 25px;
	margin-bottom: 15px;
}
.blog_sidebar_cont h2 {
	font-size: 36px;
}
.blog_sidebar_cont h2 span {
	display:block ;
}
.blog_sidebar_cont p {
	font-size: 25px;
	padding-top: 12px;
	padding-bottom: 20px;
}
.contest_info h4 {
	font-size: 17px;
	padding-bottom: 3px;
}
.contest_info p {
	padding-bottom: 15px;
	font-size: 16px;
}
.prize_info ul li {
	font-size: 16px;
}
.contest_detail_info_area {
	padding-bottom: 30px;
}
.contest_submit_btn .feature_gallery_btn {
	padding-top: 15px;
}
.single_judge {
	padding-top: 15px;
	padding-bottom: 15px;
}
.about_us_content {
	padding: 20px 0 0px;
}
.about_content p {
	padding-bottom: 15px;
	font-size: 16px;
}
.update_profile_top ul li a {
	padding: 12px 4px;
	font-size: 16px;
}
.update_profile_btm {
	padding: 20px 15px 25px;
}
.entet_info h3 {
	font-size: 18px;
	padding-bottom: 0px;
}
.entet_info p {
	font-size: 18px;
}
.entet_info {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.update_profile_btm label {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 1px;
}
.update_profile_btm input {
	font-size: 16px;
}
.name_update, .upload_picture, .personal_info, .update_social_media, .update_addr, .update_bio {
	padding-bottom: 0px;
}
.save_btn input {
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 20px;
}










}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.column {width:450px}










}
    