{% extends '../base/base.html' %}

{% load static %}

{% block title %}
    Gallery page
{% endblock title %}
    
{% block content %}
    
<section class="gallery_breadcrumb_area">
    <div class="gallery_breadcrumb">
        <h2>Blog</h2>
        <h4>Photographers Spotlight</h4>
    </div>
</section>

<section class="priv_photo_gallery_area blog_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12">
                <div class="article_single_item">
                    <div class="single_winner">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h4>A Friendly Chat with Landscape Photographer Chris Phillips</h4>
                                </div>
                                <div class="article_btn">
                                    
                                    <a href="">Read Full <span><i class="fas fa-caret-right"></i></span></a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="photo_contest_pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">....</li>
                          <li class="page-item"><a class="page-link" href="#">10</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
    