{% extends '../base/base.html' %}

{% load static %}

{% block title %}
    Gallery page
{% endblock title %}
    
{% block content %}
    
<section class="indvi_gallery_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="indivi_gallery_title">
                    <h3>Holi - Festival of Colors</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="indivi_back_home">
                    <a href=""><span><i class="fas fa-angle-double-left"></i></span>Back to Gallery</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="indvi_gallery_info_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="indvi_gallery_info">
                    <h2>Holi - Festival of Colors</h2>
                    <p>There are more than 4,500 photographs submitted around the world. Here are the 3 winners and 25 best entries of this contest.</p>
                    <h4>Winners announced on: 20th March 2020</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="judge_area">
                    <h2>Judges Info</h2>
                    <div class="single_judge">
                        <div class="judge_img">
                            <img src="{% static 'img/judge.png' %}" alt="">
                        </div>
                        <div class="judge_info">
                            <h3>Sourabh Sohariya</h3>
                            <p>Landscape Photographer, India</p>
                            <a href="">View Bio <img src="{% static 'img/bio-icon.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="single_judge">
                        <div class="judge_img">
                            <img src="{% static 'img/judge.png' %}" alt="">
                        </div>
                        <div class="judge_info">
                            <h3>Sourabh Sohariya</h3>
                            <p>Landscape Photographer, India</p>
                            <a href="">View Bio <img src="{% static 'img/bio-icon.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="single_judge">
                        <div class="judge_img">
                            <img src="{% static 'img/judge.png' %}" alt="">
                        </div>
                        <div class="judge_info">
                            <h3>Sourabh Sohariya</h3>
                            <p>Landscape Photographer, India</p>
                            <a href="">View Bio <img src="{% static 'img/bio-icon.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="winner_list_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="winner_list_title">
                    <h3>Winners</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h3>1st Place</h3>
                                    <h4>Children Playing on Holi</h4>
                                    <p>Deepak Sharma</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h3>1st Place</h3>
                                    <h4>Children Playing on Holi</h4>
                                    <p>Deepak Sharma</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info">
                                    <h3>1st Place</h3>
                                    <h4>Children Playing on Holi</h4>
                                    <p>Deepak Sharma</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="winner_list_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="winner_list_title">
                    <h3>Best Entries</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="winner_info">
                                <h4>Children Playing on Holi</h4>
                                <p>Deepak Sharma</p>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="winner_info">
                                <h4>Children Playing on Holi</h4>
                                <p>Deepak Sharma</p>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_winner">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="winner_info">
                                <h4>Children Playing on Holi</h4>
                                <p>Deepak Sharma</p>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="similar_contest_gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="similar_contest_title">
                    <h3>Our Similar Contest Galleries</h3>
                </div>
                <div class="similar_slider_area owl-carousel">
                    <div class="single_similar_slide">
                        <a href="">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="contest_name">
                                    <h3>Holi - Festival of Colors</h3>
                                </div>
                                <div class="contest_date">
                                    <h4>Month & Year:</h4>
                                    <p>March 2020</p>
                                </div>
                                <div class="contest_judges">
                                    <h4>judges:</h4>
                                    <ul>
                                        <li><a href="">Sourabh Sohariya,</a></li>
                                        <li><a href=""> Geeta Surapaneni</a></li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </a>
                    </div>
                    <div class="single_similar_slide">
                        <a href="">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="contest_name">
                                    <h3>Holi - Festival of Colors</h3>
                                </div>
                                <div class="contest_date">
                                    <h4>Month & Year:</h4>
                                    <p>March 2020</p>
                                </div>
                                <div class="contest_judges">
                                    <h4>judges:</h4>
                                    <ul>
                                        <li><a href="">Sourabh Sohariya,</a></li>
                                        <li><a href=""> Geeta Surapaneni</a></li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </a>
                    </div>
                    <div class="single_similar_slide">
                        <a href="">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="contest_name">
                                    <h3>Holi - Festival of Colors</h3>
                                </div>
                                <div class="contest_date">
                                    <h4>Month & Year:</h4>
                                    <p>March 2020</p>
                                </div>
                                <div class="contest_judges">
                                    <h4>judges:</h4>
                                    <ul>
                                        <li><a href="">Sourabh Sohariya,</a></li>
                                        <li><a href=""> Geeta Surapaneni</a></li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </a>
                    </div>
                    <div class="single_similar_slide">
                        <a href="">
                            <div class="card">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="contest_name">
                                    <h3>Holi - Festival of Colors</h3>
                                </div>
                                <div class="contest_date">
                                    <h4>Month & Year:</h4>
                                    <p>March 2020</p>
                                </div>
                                <div class="contest_judges">
                                    <h4>judges:</h4>
                                    <ul>
                                        <li><a href="">Sourabh Sohariya,</a></li>
                                        <li><a href=""> Geeta Surapaneni</a></li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
    