{% extends '../base/base.html' %}

{% load static %}

{% block title %}
    Gallery page
{% endblock title %}
    
{% block content %}
    
<section class="gallery_breadcrumb_area">
    <div class="gallery_breadcrumb">
        <h2>Gallery</h2>
        <h4>Our Previous Photo Contests Winners</h4>
    </div>
</section>

<section class="priv_photo_gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="priv_photo_gallery">
                    <div class="photo_gallery_left">
                        <h3>Previous Photo Contests Galleries</h3>
                    </div>
                    <div class="photo_gallery_right">
                        <p>22 Galleries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Holi - Festival of Colors</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="photo_contest_pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">....</li>
                          <li class="page-item"><a class="page-link" href="#">10</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
    