{% extends '../base/base.html' %}

{% load static %}

{% block title %}
    Gallery page
{% endblock title %}
    
{% block content %}
 
<section class="our_judge_area">
    <div class="container">
        <div class="row">
            <div class="col-log-12 col-md-12 col-12">
                <div class="our_judge_title">
                    <h2>Our Judges</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_judge_list_area">
    <div class="container">
        <div class="row">
            <div class="col-log-12 col-md-12 col-12">
                <div class="judge_list_cont">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-log-3 col-md-4 col-12">
                <div class="our_single_judge">
                    <a href="">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'img/judges.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <div class="winner_info judge_prof">
                                    <h3>Sourabh Sohariya</h3>
                                    <p>Landscape Photographer</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
    