{% extends '../base/base.html' %}

{% load static %}

{% block title %}
    Photo Contest page
{% endblock title %}
    
{% block content %}
    
<section class="gallery_breadcrumb_area">
    <div class="gallery_breadcrumb">
        <h2>Photo Contests</h2>
        <h4>Our Ongoing & Upcoming Photo Contests</h4>
    </div>
</section>

<section class="priv_photo_gallery_area photo_contest_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="priv_photo_gallery">
                    <div class="photo_gallery_left">
                        <h3>Photo Contests</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="ongoing_cont">
                                <img src="{% static 'img/ongoing.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="upcoming_cont">
                                <img src="{% static 'img/upcomming.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="ongoing_cont">
                                <img src="{% static 'img/ongoing.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="upcoming_cont">
                                <img src="{% static 'img/upcomming.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="ongoing_cont">
                                <img src="{% static 'img/ongoing.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="upcoming_cont">
                                <img src="{% static 'img/upcomming.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="ongoing_cont">
                                <img src="{% static 'img/ongoing.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single_photo_gallery">
                    <a href="">
                        <div class="card">
                        <div class="contest_image">
                            <img class="card-img-top" src="{% static 'img/single_img.png' %}" alt="Card image cap">
                            <div class="upcoming_cont">
                                <img src="{% static 'img/upcomming.png' %}" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="contest_name">
                                <h3>Beautiful India</h3>
                            </div>
                            <div class="contest_date">
                                <h4>Month & Year:</h4>
                                <p>01st March 2020 - 31st March 2020</p>
                            </div>
                            <div class="contest_judges">
                                <h4>judges:</h4>
                                <ul>
                                    <li><a href="">Sourabh Sohariya,</a></li>
                                    <li><a href=""> Geeta Surapaneni</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
    